
<div class="container" padding:50px>
  <div class="row" min-height:150px>
  <div class='col-sm-1'></div>
  {% for input in inputs %}
    <div class='col-sm-3'>
      {{ input }}: 
      <div class='right'>
        <input type='text' class='text_input' id={{ input }} name='{{ input }}'>
      </div>
    </div>
  {% endfor %}
  </div>
  <div class="row" min-height:150px>
  <div class='col-sm-1'></div>
  {% for dropdown in dropdowns %}
    <div class="col-sm-3"> 
      {{ dropdown }}:
      <div class='right'>
      <select id={{ dropdown }} class="chosen" multiple="true">
        {% for item in dropdowns[dropdown] %}
          <option>{{ item }}</option>
        {% endfor %}
      </select>
      </div>
    </div>
    {% endfor %}
        <div class="col-sm-1"> 
        <button id='download' class="glyphicon glyphicon-download-alt"></button>

    </div>
    </div>
  </div>


