
<h2> Filter </h2>
<div class="container" padding:50px>
  <div class="row" min-height:150px>
  {% for input in inputs %}
    <div class='col-sm-3'>
      {{ input }}: <input type='text' class='text_input' id={{ input }} name='{{ input }}'>
    </div>
  {% endfor %}
  </div>
  <div class="row" min-height:150px>
  {% for dropdown in dropdowns %}
    <div class="col-sm-3"> 
      {{ dropdown }}:
      <select id={{ dropdown }} class="chosen" multiple="true">
        {% for item in dropdowns[dropdown] %}
          <option>{{ item }}</option>
        {% endfor %}
      </select>
    </div>
    {% endfor %}
    </div>
  </div>
</div>

