<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - pyDataVizDay</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="apple-touch-icon" sizes="57x57" href="static/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="static/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="static/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="static/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="static/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="static/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="static/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="static/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="static/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="static/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
  <link rel="manifest" href="static/manifest.json">
  <link rel="stylesheet" href='static/node_modules/bootstrap/dist/css/bootstrap.min.css'>
  <script type='application/javascript' src='static/node_modules/jquery/dist/jquery.js'></script>
  <script src='static/node_modules/bootstrap/dist/js/bootstrap.min.js'></script>
  
  
  {% endblock %}

</head>
<body>
{% block body %}

    {% set navigation_bar = [
    ('/enthusiast', 'enthusiast', 'Enthusiast'),
    ('/Exploritory', 'exploritory', 'Exploritory'),
    ('/api/doc/#/pyDataVizDay', 'api', 'api'),
    ] -%}
    {% set active_page = active_page|default('index') -%}

    <nav class="navbar navbar-inverse" >
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">                      
          </button>
          <a class="navbar-brand" href="/">pyDataVizDay</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
              {% for href, id, caption in navigation_bar %}
                <li{% if id == active_page %} class="active"{% endif%}>
                <a href="{{ href|e }}">{{ caption|e }}</a></li>
              {% endfor %}

          <li class="dropdown">
          <a href='/slides' class='dropdown-toggle navbar-inverse' data-toggle="dropdown">Slides<b class="caret"></b></a>
          <ul class='dropdown-menu'>
            <li>
            <a href='/slides'>dark</a>
            </li>
            <li>
            <a href='/slides_light'>light</a>
            </li>
          </ul>
          </li>

          </ul>

      </div>
  </div>
</nav>


{% endblock %}
</body>
<script src='static/js/lights.js?v=1'></script>

    <script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    
    var disqus_config = function () {
        this.page.url = 'http://pydatavizday.herokuapp.com/{ active_page }';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '{ active_page } '; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');
        
        s.src = '//http-pydatavizday-herokuapp-com.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

    <script>
    $('ul.nav li.dropdown').hover(function() {
      $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(200);
    }, function() {
      $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(200);
    });
    </script>

</html>


