<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - pyDataVizDay</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css' rel='stylesheet' type='text/css'/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  {% endblock %}

</head>
<body>
{% block body %}

    {% set navigation_bar = [
    ('/investor', 'investor', 'Investor'),
    ('/enthusiast', 'enthusiast', 'Enthusiast'),
    ('/slides', 'slides', 'Slides')
    ] -%}
    {% set active_page = active_page|default('index') -%}

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">                      
          </button>
          <a class="navbar-brand" href="/">pyDataVizDay</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
              {% for href, id, caption in navigation_bar %}
                <li{% if id == active_page %} class="active"{% endif%}>
                <a href="{{ href|e }}">{{ caption|e }}</a></li>
              {% endfor %}
          </ul>
      </div>
  </div>
</nav>

{{ body | safe }}
{% endblock %}
</body>
</html>
