html{
    --score-color:#0071A7;
    --gross-color:#4D9913;
    --dark-blue:#0C243B;
    --light-blue:#384c65;
    --score-color:#0C243B;
    --axis-color: var(--score-color);
}

body{
    font-family:Tahoma, Geneva, sans-serif;
    color:#C7E0E4;
    background-color:#0C243B;

}

#top-image{
    background-image: url("/static/top.png");
    background-repeat: repeat;
}

#middle-image{
    background-image: url("/static/middle.png");
    background-repeat: repeat;
}

#bottom-image{
    background-image: url("/static/bottom.png");
    background-repeat: repeat;
}


/*@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}*/

/*#timeseries-chart {
    stroke: #fff !important; 
}*/

.c3 .c3-axis-x path, .c3 .c3-axis-x line, 
.c3 .c3-axis-y path, .c3 .c3-axis-y line,
.c3 .c3-axis-y2 path, .c3 .c3-axis-y2 line {
    stroke: var(--axis-color);
}

.c3 .c3-axis-x g,
.c3 .c3-axis-y g,
.c3 .c3-axis-y2 g,
.c3 .c3-legend-item-data text {
    color: var(--axis-color);
    fill: var(--axis-color);
}
#timeseries-chart .c3-line {
    stroke-width: 2px;
}

.container {
    color: #C7E0E4;
    box-shadow: 0px 30px 40px rgba(0,0,0,1);
    })


.kpi {
    /* color: #B80000; */
    float: none;
    margin: 0 auto;
    padding:5px 5px 5px 5px ;
    font-weight:4;
    font-size:16px;
}
.kpi-value {
    text-align:center;
    /* color: #B80000; */
    font-weight:8;
    font-size:18px;
    /*padding: 10px 20px 10px 0px;*/
    height:25px;
    /* height: 75px; */
}

.kpi-row{
    text-align:center;
        float: none;
    margin: 0 auto;
}

#score{
    color: var(--score-color);
    /*color: var(--light-blue);*/
}

#gross{
    color: var(--gross-color);
}

.chosen{
    text-align:right;
    float:right;
    height:75px;
    width:100%;
    /*max-width: 300px;*/
    padding:5px;
}

.col-sm-3{
    padding:5px;
}

.row{
    padding:5px;
}

.text_input{
     float:right;
     height:30px;
     width:100%;
 }

.right{
    float:right;
    width:70%;
    max-width: 300px;
}

.container{
    float:center;
}

.centered{
    text-align:center;
    float: center;
    margin: 0 auto;
}

.title{
    font-size:22px;
    color:var(--dark-blue);
    font: bold;
}

.note{
    text-align:center;
    float: center;
    margin: auto;
    color:var(--dark-blue);
    
}

.sentiment-chart-title{
    /*color:var(--dark-blue);*/
    /*text-align: center;
}*/
.word-cloud-title{
    color:#0071A7;
    /*text-align: center;*/
}

.sentiment-chart{
    text-align:center;
    vertical-align: middle;
    line-height: 150px; 
    height:300px;
    /*background-color:grey;*/
    li
}

#myNavbar{
/*    background-color:#0071A7;
}

#navbar{
    background-color:#0071A7;
}

#navbar-header{
    background-color:#0071A7;
}

.active{
    background-color:#0071A7;
}*/