body{
    font-family:Tahoma, Geneva, sans-serif;
    background-color:white;
}
.kpi {
    /* color: #B80000; */
    font-weight:4;
    font-size:16px;
}
.kpi-value {
    /* color: #B80000; */
    font-weight:8;
    font-size:18px;
    padding: 10px 20px 10px 0px;
}

.chosen{
    text-align:right;
    float:right;
    height:75px;
    width:100%;
    /*max-width: 300px;*/
    padding:5px;
}

.col-sm-3{
    padding:5px;
}

.row{
    padding:5px;
}

.text_input{
     float:right;
     height:30px;
     width:100%;
 }

.right{
    float:right;
    width:70%;
    max-width: 300px;
}

.container{
    float:center;
}

.centered{
    float: none;
    margin: 0 auto;
}

.title{
    font-size:22px;
    color:#0071A7;
    font: bold;
}

.sentiment-chart-title{
    color:#0071A7;
    /*text-align: center;*/
}
.word-cloud-title{
    color:#0071A7;
    /*text-align: center;*/
}

.sentiment-chart{
    text-align:center;
    vertical-align: middle;
    line-height: 150px; 
    height:300px;
    /*background-color:grey;*/
    li
}

#myNavbar{
/*    background-color:#0071A7;
}

#navbar{
    background-color:#0071A7;
}

#navbar-header{
    background-color:#0071A7;
}

.active{
    background-color:#0071A7;
}*/